.todo{
    font-family: 'Roboto';
    font-size: 12px;
    position: relative;
    text-align: center;
}
h1{font-size: 24}
#descuentos{
    font-size: 16px;
}
.burger-menu{
    position: relative;
    font-size: 1em;
    text-align: center;
    color: white;
    display:flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 10px;
    bottom: 10px;
    margin: auto;
}
.burger-menu i{
    position: relative;
    text-align: center;
    left: 14px;
    font-size: 10;
}
.lupa{
    font-size: 15px;
    color: black;
}
.piepagina i{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    color: #1259c3;
}
.logo{
    width: 50%;
}
.banner{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: -2px;
}
.envio > .iconito {
    display: block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 20px;
    top: -140px;
    color: rgb(57, 181, 74);
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(57, 181, 74);
    border-image: initial;
    border-radius: 50%;
}
.envio {
    position: relative;
    top: 30%;
}
#descuentos{
     color: green;  
     position: relative;
     text-align: center;
}
@media (min-width: 361px) {
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding-bottom:10px ;
        margin-bottom: 10px;
        padding-left: 1px;
        margin: 10px;
    }
    .burger-menu{
        display: none;
    }
    
    
}
@media (max-width:361px) {
    #cosas ul{
        display: none;
    }
    img{
        
        height: 100%;
        width: 100%;
    }
}
@media (min-width: 769px) {
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding-bottom:10px ;
        margin-bottom: 10px;
    }
    .textogod {
        font-size: 20px;
        width: 50%;
    }
    .article {
        box-shadow: rgb(100, 100, 100) 0px 0px 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

input {
    width: 50%;
}
header {
    background-color: rgb(238, 209, 48);
    display: flex;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.barralupa {
    text-align: center;
    width: 50%;
}
.barra {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.itemsbarra {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: auto;
}
ul {
    list-style: none;
}
li {
    margin: 8px;
}
#cosas{
    background-color: #eed130;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}
.article{
    background-color: white;
}
.lll h1 {
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
}
.article img {
    border-bottom: 1px solid rgb(240, 236, 236);
}
#precios {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    font-size: 18px;
}
.presdesc {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 15px 15px 15px 20px;
}
#descripciones {
    display: flex;
    text-align: left;
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
    padding: 5px 5px 5px 20px;
}
footer {
    margin-top: 20px;
}
.piepagina {
    background-color: white;
    text-align: center;
    padding: 15px;
}
.prod {
    background-color: rgb(240, 236, 236);
    position: relative;
    padding: 10px;
}