body{
    background-color: #eed130;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    
}
h1{font-size: 24}
#precios{
    font-size: 18px;
}
#descuentos{
    font-size: 16px;
}
#descripciones{
    font-size: 16px;
}
.burger-menu{
    width: 40px;
    height: 40px;
    font-size: 2em;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
#cosas{
    text-align: center;
}
.lupa{
    width: 50px;
    height: 40px;
    color: red;
}