.todo{
    font-family: 'Roboto';
    font-size: 12px;
    position: relative;
    text-align: center;
}
h1{font-size: 24}
#precios{
    font-size: 18px;
}
#descuentos{
    font-size: 16px;
}
#descripciones{
    font-size: 16px;
}
.burger-menu{
    position: relative;
    font-size: 1em;
    text-align: center;
    color: white;
    display:flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 10px;
    bottom: 10px;
    margin: auto;
}
.burger-menu i{
    position: relative;
    text-align: center;
    left: 14px;
    font-size: 10;
}
#cosas p{
    font-size: 20px;
    position: relative;
    text-align: center;
}

.lupa{
    font-size: 15px;
    color: black;
}
.piepagina{
    background-color: white;
    position: relative;
    text-align: center;
    padding: 15px;
}   
.piepagina i{
    position: relative;
    font-size: 2em;
    text-align: center;
    color: #1259c3;
}
.itemsbarra{
    position: relative;
    text-align: left;
    font-size: 150%;
}
.logo{
    position: relative;
    text-align: center;
    height: 50%;
    width: 50%;
    margin: auto;
}
.banner{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: -2px;
}
.envio{
    position: relative;
    text-align: center;
    color: green;
    border: solid green 0.5px;
    border-width: 1px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 1em;
    margin: auto;
}
.envio i{
    position: relative;
    top: 30%;
}
#descuentos{
     color: green;  
     position: relative;
     text-align: center;
}
#precios{
    position: relative;
    text-align: center;
}
#descripciones{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.prod{
    background-color:white;
    padding: 10px;
    position: relative;
   
}
@media (min-width: 361px) {
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding-bottom:10px ;
        margin-bottom: 10px;
        padding-left: 1px;
    }
    .burger-menu{
        display: none;
    }
    
}
@media (max-width:361px) {
    #cosas ul{
        display: none;
    }
    img{
        
        height: 100%;
        width: 100%;
    }
}
@media (min-width: 769px) {
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding-bottom:10px ;
        margin-bottom: 10px;
    }
}
.barralupa{
    margin-left: 10px;
    text-align: left;
    height: auto;
    width: auto;
}
header{
    background-color: #eed130;
    background-size: contain;
}
input{
    height: 100%;
    
}
.article{
    
}