.todo{
    font-family: 'Roboto';
    font-size: 12px;
    position: relative;
    text-align: center;
}
.piepagina h1{
    font-size: 24px
}
#descuentos{
    font-size: 16px;
}
.burger-menu{
    position: relative;
    font-size: 1em;
    text-align: center;
    color: white;
    display:flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 10px;
    bottom: 10px;
    margin: auto;
}
.burger-menu i{
    position: relative;
    text-align: center;
    left: 14px;
    font-size: 10;
}
.lupa{
    font-size: 15px;
    color: black;
}
.piepagina i{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    color: #1259c3;
}
.logo{
    width: 100%;
    margin: 20px;
    margin-right: 30px;
}
.banner{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: -2px;
}
.envio > .iconito {
    display: block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 20px;
    top: -120px;
    color: rgb(57, 181, 74);
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(57, 181, 74);
    border-image: initial;
    border-radius: 50%;
}
.envio {
    position: relative;
    top: 30%;
}
#descuentos{
     color: green;  
     position: relative;
     text-align: center;
}
.productos >nav:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-duration: 0.2s;
    #descripciones {
        display: flex;
        text-align: left;
        font-size: 16px;
        color: gray;
        margin-bottom: 20px;
        padding: 5px 5px 5px 20px;
        visibility: visible;
        
    }
    .envio>.iconito{
        transition-duration: 0;
        top:-135px
    }
}
.article:hover{
    height: 400px;
}
@media (min-width: 361px) {
    .article{
        padding-bottom:10px ;
        margin-bottom: 10px;
        padding-left: 1px;
        margin: 10px;
    }
    
    
    .burger-menu{
        display: none;
    }
    .textofecha input{
        flex-wrap: wrap;
        width: 50%;
    }
    .loge input{
        width: 50%;
    }
}
@media (max-width:361px) {
    #cosas ul{
        display: none;
    }
    
    .article{
        height: 100%;
    }
    img{
        width: 100%;
    }
    .textogod{
        font-size: 20px;
        width: 100%;
        margin: 20px;
    }
    header{
        flex-wrap: wrap;
    }
    .textofecha input{
        flex-wrap: wrap;
        width: 100%;
    }
    .loge input{
        width: 100%;
    }
    
}
@media (min-width: 769px) {
    .article{
        
        padding-bottom:10px ;
        margin-bottom: 10px;
    }
    .textogod {
        font-size: 20px;
        width: 100%;
    }
    .article {
        
        margin-left: auto;
        margin-right: auto;
    }
    
    
}
@media (min-width: 1300px) {
    .productos {
        height: 400px;
    }
}
header {
    background-color: rgb(238, 209, 48);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
.barralupa {
    display: flex;
    justify-content:right;
    align-items: center;
    width: 100%;
    ;
}
.barralupa button{
    background-color: white;
    position: absolute;
    border-radius: 5px;
    border: 0px;
    align-items: end;
    margin-right: 10px;
}
.barralupa input{
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 100%;
}
.barra {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.itemsbarra {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: auto;
}
ul {
    list-style: none;
}
li {
    margin: 8px;
}
#cosas{
    background-color: #eed130;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}
.article{
    height: 350px;
    background-color: white;
}
.lll h1 {
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
    width:auto;
    height: auto;
}
.article img {
    border-bottom: 1px solid rgb(240, 236, 236);
}
#precios {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    font-size: 18px;
}
.presdesc {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 15px 15px 15px 20px;
}
#descripciones {
    display: none;
    visibility: hidden;
}
footer {
    background-color: white;
    margin-top: 20px;
}
.piepagina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    padding: 10px;
    padding-bottom:20px ;
    margin: 30px;
}
.piepagina i:hover{
    transition-duration: 0.2s;
    color: rgb(18, 89, 195,0.5);
}
.prod {
    background-color: rgb(240, 236, 236);
    padding-top:10px ;
}
/*              REGISTER            */
.formu{
    padding: 20px;
    text-align: center;
    background-color:rgb(240, 236, 236) ;
}
.checkboxs{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   
}
.checkboxs input{
    width: auto;
}
label{
    display: flex;
    padding: 10px;
    margin-left: 25%;
    font-size: 15px;
    color: gray;
    font-weight:bold ;
}
.tipoperfil{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.formu p{
    margin: 10px;
}

.formu input{
    text-align: center;
    border-radius: 5px;
    border: 0px;
    height: 40px;
}
.formu button{
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    border: 0px;
    height: 40px;
}
.env{
    background-color: #1259c3;
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.res{
    background-color: rgba(65,137,230,0.2);
    color: #1259c3;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 15px;
}
.copy{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
    background-color: white;
}
/*              LOGIN         */

.loge{
    padding: 40px;
    text-align: center;
    background-color:rgb(240, 236, 236) ;
}
.loge input{
    text-align: center;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 0px;
    height: 40px;
}
.sub{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border-radius: 5px;
    border: 0px;
    background-color: #1259c3;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}
.sub:hover{
    transition-duration: 0.2s;
    background-color:#0022AA
}